<div id="across_net" class="section">
	<div class="section_head">Find Me On</div>
	<div class="section_body">
		<ul>
			<li>
				<%= image_tag 'twitter_16.png' %>
				<%= link_to 'Twitter', 'http://twitter.com/tfisher' %></li>
			<li>
				<%= image_tag 'emurse_16.gif' %>
				<%= link_to 'Resume', 'http://timothyfisher.emurse.com' %></li>
			<li>
				<%= image_tag 'blog_16.png' %>
				<%= link_to 'My Blog', 'http://blog.timothyfisher.com' %></li>
			<li>
				<%= image_tag 'linkedin_16.png' %>
				<%= link_to 'LinkedIn', 'http://www.linkedin.com/in/timothyfisher' %></li>
			<li>
				<%= image_tag 'facebook_16.png' %>
				<%= link_to 'Facebook', 'http://www.facebook.com/trfisher' %></li>
			<li>
				<%= image_tag 'google_16.png' %>
				<%= link_to 'Google Profile', 'http://www.google.com/profiles/timothyf' %></li>
			<li>
				<%= image_tag 'github_16.png' %>
				<%= link_to 'GitHub Projects', 'http://www.github.com/timothyf' %></li>
			<li>
				<%= image_tag 'slideshare_16.png' %>
				<%= link_to 'SlideShare.net', 'http://www.slideshare.net/timothyf' %></li>
		</ul>
	</div>
</div>