<div id="projects" class="section">
	<div id="projects_title">A Few of My Projects</div>
	<div id="projects_detail">
		<div class="project">
			<div class="project_screen">
				<%= link_to image_tag('rubymi-tn.png'), 'http://www.enginey.com' %>
			</div>
			<div class="project_label"><%= link_to 'EngineY', 'http://www.enginey.com' %></div>
		</div>
		<div class="project">
			<div class="project_screen">
				<%= link_to image_tag('baseball-tn.png'), 'http://gameday.timothyfisher.com' %>
			</div>
			<div class="project_label"><%= link_to 'Gameday API', 'http://gameday.timothyfisher.com' %></div>
		</div>
		<div class="project">
			<div class="project_screen">
				<%= link_to image_tag('fisherbaseball-small.png'), 'http://www.fisherbaseball.com' %>
			</div>
			<div class="project_label"><%= link_to 'FisherBaseball', 'http://www.fisherbaseball.com' %></div>
		</div>
		<div id="projects_footer">
			<%= link_to 'more projects...', 'http://github.com/timothyf' %>
		</div>
	</div>
</div>